<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/user/create.css') }}">

</head>
<body>
    {% include "header.html" %}

    <h1>Create User</h1>
    <div class="input-box">
    <form class="form" method="POST" action="{{ url_for('user_create') }}">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <label for="password">Confirm Password:</label>
        <input type="password" name="passwordConf" id="passwordConf" required>
        <br>
        <button type="submit" class="submitButton">Create User</button>
    </form>
    </div>
</body>
</html>